@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

:root {
  --color1: #344e41;
  --color2: #3a5a40;
  --color3: #588157;
  --color4: #a3b18a;
  --color5: #dad7cd;
}

body {
  height: 100vh;
  font-family: Roboto Slab, sans-serif;
  background: linear-gradient(180deg, var(--color1) 70%, var(--color2) 100%);
}

::-webkit-scrollbar {
  width: 10pt;  
  height: 10pt;
}

::-webkit-scrollbar-track {
  background: var(--color4);
}

::-webkit-scrollbar-thumb {
  background: var(--color3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color1);
}

::-webkit-scrollbar-corner {
  background: var(--color4);
}

.editor {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10pt auto;
  overflow: hidden;
  background: -webkit-linear-gradient(270deg, var(--color3) 30%, var(--color4) 100%);
}

label {
  text-align: center;
  padding: 3pt;
  background-color: var(--color3);  
  color: var(--color5); 
}

textarea {
  width: 95%;
  margin: 0 auto 10pt;
  resize: none;
  background-color: var(--color5);
  color: var(--color1);
  cursor: auto;
}

.preview {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 10pt auto 20pt;  
  height: min-content;
  max-height: 400px;
}

#preview {
  padding: 0 5pt;
  font-size: 15px;
  overflow: scroll;
  background-color: var(--color5);
  color: var(--color1);  
  padding: 10pt; 
}